[Desktop Entry]
Version=1.0
Name=Fastmail
Comment=mail
Exec=firefox https://app.fastmail.com/mail/Inbox
Terminal=false
Type=Application
Icon=/home/sanjay/.local/share/application-icons/FM-Icon-RGB.png
Categories=GTK;
StartupNotify=false
Actions=compose;
Keywords=mail;

[Desktop Action compose]
Name=Compose
Exec=firefox https://app.fastmail.com/mail/Drafts/compose?u=b601406a